.cajaPrincipal{
    background-color: blueviolet;
    height: 100vh;
    display:  flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tituloPrincipal{  
    color: white;
}

#unicoBoton{
    display: block;
    background-color: white;
    color: blueviolet;  
    padding: 10px;
    text-decoration: none;
}